body{
    background-color: rgb(245, 129, 129);
}

#titulo_cabecera{
    background-color: seagreen;
    margin: 15px auto;
    padding: 5px;
    border: 2px solid rgb(59, 56, 236);
    border-radius: 15px;
    font: bold 20px verdana;
    box-shadow: rgb(2, 169, 247) -3px 8px 7px; /*sombra de la caja*/
    
}

#barra_lateral{
    background-color: skyblue;
    float: left;
    height: 750px;
}

#contenido_principal{  /*separa el contenido principal desde el borde de la pagina*/
    margin-left: 250px; 
}


#ima {
    height: 400px;
    width: 300px;
    border: 3px solid greenyellow;
    border-radius: 10px;
    margin: 5px;
}

li{
    display: inline ;
    background-color: royalblue;
    padding: 5px;
    border-radius: 15px;
    
}

#pie_de_pagina{
    clear: both; /*para romper el float por ambos lados, derecha/izquierda*/
}

.titulos_principales{  /*Centrar tilulos de la clase conrrespondiente*/
    text-align: center;
    text-shadow: rgb(248, 0, 0) 5xp 10px 10px;
}